<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.IdolTicketing.mapper.HelpMapper">
    <insert id="createBoard">
        insert into help
        (title, description, userId, isAdmin)
        VALUES
        (#{title}, #{description}, #{userId}, #{isAdmin})
    </insert>

    <select id="getBoard" resultType="com.IdolTicketing.dto.HelpDTO">
        SELECT title, description, userId
        from help
        where id =#{id}
    </select>

    <update id="updateBoard">
        UPDATE help
        SET title = #{title}, description = #{description}
        WHERE userId = #{userId}
    </update>

    <delete id="deleteBoard">
        DELETE from help
        WHERE userId = #{userId}
    </delete>

</mapper>